*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;    
}

html {
    scroll-behavior: smooth;
    background-color: #A3BFA8;
}

table{
    border: 1px solid black;
}

table.table_head{
    font-size: 24px;
    width: 100%;
}



#navbar{
    width: 100%;
    position: fixed;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 0%;
    left: 0%;
    background-color: #A3BFA8 ;
    border-color: #59594A;
    border-width: 100px;
    
}

#body{
    margin-top: 175px;
    margin-left: 30px;
    margin-right: 30px;
}

#main_content{
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    min-height: fit-content;
    max-width: 990%;
    min-width: 99%;
    background-color: white;
}

#logo{
    font-size: 3rem;
    font-family: 'Nunito', sans-serif; 
}

#add_contact_row{
    display: none;

}

.alphabet_display{
    padding: 15px;
   
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    background-color: #BE6E46;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    border-radius: 10px;

}

.navbutton{
    display: inline;
    margin-top: 10px;
    padding: 10px;
    background-color: #7286A0;
    border-radius: 10px;
}

.navbutton:hover{
    background-color: #91a5bf;
}



